<!DOCTYPE html>
<html data-framework="angularjs">
<head>
	<meta charset="utf-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Kópavogsbær | Hvert fara peningarnir</title>
	<link rel='shortcut icon' href='fav.ico' type='image/x-icon' />
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="node_modules/angular/angular-csp.css">
	<link rel="stylesheet" type="text/css" href="node_modules/angular-loading-bar/src/loading-bar.css">
	<!--<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">-->
	<link rel="stylesheet" type="text/css" href="css/simple-sidebar.css">
	<link rel="stylesheet" type="text/css" href="css/hfp.css">
</head>
<body ng-app="hvertfarapeningarnir">

	<!-- hvertfarapeningarnir -->
	<div id="wrapper" class="toggled hfp-wrapper">

		<!-- sidebar-wrapper -->
		<div id="sidebar-wrapper" ng-controller="tabsController">
			<uib-tabset active="activeJustified" justified="true">
				<uib-tab index="0" heading="Síur">
					<!--<v-accordion id="accordionA" class="vAccordion&#45;&#45;default" multiple control="accordionA">
						<v-pane id="{{ pane.id }}" ng-repeat="pane in panesA" expanded="pane.isExpanded">
							<v-pane-header>
								{{ ::pane.header }}
							</v-pane-header>
							<v-pane-content>
								{{ ::pane.content }}
							</v-pane-content>
						</v-pane>
					</v-accordion>-->

					<uib-accordion close-others="oneAtATime">

						<uib-accordion-group class="hfp-filter-group" is-open="group.status" ng-repeat="group in groups">
							<uib-accordion-heading>
								{{group.title}} <i class="hfp-filter-arrow pull-right glyphicon glyphicon-chevron-down" ng-class="{'arrow-down': group.status, 'arrow-right': !group.status}"></i>
							</uib-accordion-heading>
							<div ng-repeat="filter in group.filters">
								{{filter.content}}
							</div>
						</uib-accordion-group>

					</uib-accordion>
				</uib-tab>
				<uib-tab index="1" heading="Alg. fyrirsp.">Algengar fyrirspurnir</uib-tab>
			</uib-tabset>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- page-content-wrapper -->
		<div id="page-content-wrapper" ng-controller="testController" class="container-fluid hfp-content">

			<!-- header -->
			<div class="row hfp-header">

				<!-- header-buttons -->
				<div class="col-lg-4 hfp-headerbuttons hfp-div">
					<button class="btn btn-default hfp-btn glyphicon glyphicon-filter" 		  ng-click="toggleDrawer()"   id="menu-toggle"></button>
					<button class="btn btn-default hfp-btn glyphicon glyphicon-calendar"      ng-click="toggleCalendar()" id="calendar-toggle"></button>
					<button class="btn btn-default hfp-btn glyphicon glyphicon-download-alt"  ng-click="testFunc()"></button>
					<button class="btn btn-default hfp-btn glyphicon glyphicon-question-sign" ng-click="testFunc()"></button>

					<!-- calendar-dropdown -->
					<div id="hfp-calendar-dropdown" class="hfp-hidden container" ng-controller="calendarController">

						<div class="calendar-row row">
							<div class="col-lg-12">
								<span>Ár: </span>
								<div class="btn-group" uib-dropdown>
									<button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
										{{selectedYear}} <span class="caret"></span>
									</button>
									<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
										<li role="menuitem" ng-repeat="year in years">
											<a href="#" ng-click="setYear(year)">{{year}}</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="calendar-row row">
							<div class="col-lg-12">
								<span>Mánuður: </span>
								<div class="btn-group" uib-dropdown>
								<button id="derka" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
									{{selectedMonth}} <span class="caret"></span>
								</button>
								<ul uib-dropdown-menu role="menu" aria-labelledby="single-button 	">
									<li role="menuitem" ng-repeat="month in months">
										<a href="#" ng-click="setMonth(month)">{{month}}</a>
									</li>
								</ul>
							</div>
							</div>
						</div>

						<div class="calendar-row row">
							<div class="col-lg-12">
								<span>Ársfjórðungur: </span>
								<div class="btn-group" uib-dropdown>
									<button id="" type="button" class="btn btn-default" uib-dropdown-toggle>
										{{selectedQuarter}} <span class="caret"></span>
									</button>
									<ul uib-dropdown-menu role="menu" aria-labelledby="single-button 	">
										<li role="menuitem" ng-repeat="quarter in quarters">
											<a href="#" ng-click="setQuarter(quarter)">{{quarter}}</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /#calendar-dropdown -->
				</div>
				<!-- /#header-buttons -->

				<!-- title -->
				<div class="col-lg-4 hfp-div hfp-title hfp-title">
					<div>
						<h2 id="main-title">Hvert fara peningarnir?</h2>
						<h1 id="sub-title"><img src="koplogo.gif" alt="" id="kop-logo">Kópavogsbær</h1>
					</div>
				</div>
				<!-- /#title -->

				<!-- progress-meter -->
				<div class="col-lg-4 hfp-div hfp-meter">
					<uib-progressbar id="hfp-progress-bar" max="max" value="dynamic"><span style="vertical-align: middle; white; white-space:nowrap;">{{dynamic}}%</span></uib-progressbar>
					<p id="hfp-curr-amount">kr. {{totalAmount}}.-</p>
				</div>
				<!-- /#progress-meter -->

			</div>
			<!-- /#header -->

			<!-- chart-area -->
			<div id="chartContainer" class="row hfp-chart">
				<div class="col-lg-12 hfp-div">
					<div id="mypie"></div>
				</div>
			</div>
			<!-- /#chart-area -->

			<!-- mini-chart-area -->
			<div id="miniChartContainer" class="row hfp-minichart">
			</div>
			<!-- /#mini-chart-area -->

		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#hvertfarapeningarnir -->

	<script src="node_modules/angular/angular.js" type="text/javascript" charset="utf-8"></script>
	<script src="node_modules/angular-animate/angular-animate.js" type="text/javascript" charset="utf-8"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<!--<script src="bower_components/Chart.js/Chart.js"></script>-->
	<!--<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>-->

	<script src="node_modules/angular-route/angular-route.js" type="text/javascript" charset="utf-8"></script>
	<script src="node_modules/angular-loading-bar/src/loading-bar.js" type="text/javascript" charset="utf-8"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
	<script src="js/d3pie.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/canvasjs.min.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
		window.onload = function () {
			CanvasJS.addCultureInfo("is",
				{
					digitGroupSeparator: "."

				});

			var chart = new CanvasJS.Chart("miniChartContainer",
				{
					/*title:{
						text: "Samanburður gjalda og tekna"
					},*/
					data: [
						{
							type: "stackedColumn",
							axisYType: "secondary",
							dataPoints: [
								{  y: 111338 , label: "Gjöld", color: "#0dad5c"},
								{  y: 1000000, label: "Tekjur" }
							]
						},  {
							type: "stackedColumn",
							axisYType: "secondary",
							dataPoints: [
								{  y: 135305 , label: "Gjöld", color: "#ff906d"}
							]
						},
						{
							type: "stackedColumn",
							axisYType: "secondary",
							dataPoints: [
								{  y: 135305 , label: "Gjöld", color: "#5594ba"}
							]
						},
						{
							type: "stackedColumn",
							axisYType: "secondary",
							dataPoints: [
								{  y: 135305 , label: "Gjöld", color: "#90e662"}
							]
						},
						{
							type: "stackedColumn",
							axisYType: "secondary",
							dataPoints: [
								{  y: 135305 , label: "Gjöld", color: "#ffbd6d"}
							]
						},
						{
							type: "stackedColumn",
							axisYType: "secondary",
							dataPoints: [
								{  y: 135305 , label: "Gjöld", color: "#f16785"}
							]
						},
						{
							type: "stackedColumn",
							axisYType: "secondary",
							dataPoints: [
								{  y: 135305 , label: "Gjöld", color: "#e6fa6b"}
							]
						},
						{
							type: "stackedColumn",
							axisYType: "secondary",
							dataPoints: [
								{  y: 135305 , label: "Gjöld", color: "#b352bd"}
							]
						}
					],
					backgroundColor: "transparent",
					toolTip: {
						enabled: false
					},
					culture: "is",
					axisY2: {
						gridThickness: 0,
						labelFontSize: 12,
						labelAngle: 50,
						valueFormatString: "#,###,### kr."
					},
					axisX: {
						labelFontSize: 14
					},
					animationEnabled: true
				});

			chart.render();
		}
	</script>
	<!--<script type="text/javascript" src="node_modules/canvasjs/dist/canvasjs.min.js"></script>-->

	<script src="js/app.js" type="text/javascript" charset="utf-8"></script>

	<!--<script src="js/d3pie.js"></script>-->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</body>
</html>