<!DOCTYPE html>
<html data-framework="angularjs">
<head>
	<meta charset="utf-8">
	<title>Kópavogsbær | Hvert fara peningarnir</title>
	<link rel='shortcut icon' href='fav.ico' type='image/x-icon' />
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="node_modules/angular/angular-csp.css">
	<link rel="stylesheet" type="text/css" href="node_modules/angular-loading-bar/src/loading-bar.css">
	<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
	<link rel="stylesheet" type="text/css" href="css/simple-sidebar.css">
	<link rel="stylesheet" type="text/css" href="css/hfp.css">
</head>
<body ng-app="hvertfarapeningarnir">

	<!-- hvertfarapeningarnir -->
	<div id="wrapper" class="toggled hfp-wrapper">

		<!-- sidebar-wrapper -->
		<div id="sidebar-wrapper" ng-controller="tabsController">
			<uib-tabset active="activeJustified" justified="true">
				<uib-tab index="0" heading="Síur">Síur</uib-tab>
				<uib-tab index="1" heading="Alg. fyrirsp.">Algengar fyrirspurnir</uib-tab>
			</uib-tabset>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- page-content-wrapper -->
		<div id="page-content-wrapper" ng-controller="testController" class="container-fluid hfp-content">

			<!-- header -->
			<div class="row hfp-header">

				<!-- header-buttons -->
				<div class="col-lg-4 hfp-headerbuttons hfp-div">
					<button class="btn btn-default hfp-btn glyphicon glyphicon-filter" 		  ng-click="toggleDrawer()"   id="menu-toggle"></button>
					<button class="btn btn-default hfp-btn glyphicon glyphicon-calendar"      ng-click="toggleCalendar()" id="calendar-toggle"></button>
					<button class="btn btn-default hfp-btn glyphicon glyphicon-download-alt"  ng-click="testFunc()"></button>
					<button class="btn btn-default hfp-btn glyphicon glyphicon-question-sign" ng-click="testFunc()"></button>

					<!-- calendar-dropdown -->
					<div id="hfp-calendar-dropdown" class="hfp-hidden">
					</div>
					<!-- /#calendar-dropdown -->
				</div>
				<!-- /#header-buttons -->

				<!-- title -->
				<div class="col-lg-4 hfp-div hfp-title hfp-title">
					<h2 id="main-title">Hvert fara peningarnir?</h2>
					<h1 id="sub-title"><img src="koplogo.gif" alt="" id="kop-logo">Kópavogsbær</h1>
				</div>
				<!-- /#title -->

				<!-- progress-meter -->
				<div class="col-lg-4 hfp-div hfp-meter">
					<uib-progressbar id="hfp-progress-bar" max="max" value="dynamic"><span style="vertical-align: middle; white; white-space:nowrap;">{{dynamic}}%</span></uib-progressbar>
					<p id="hfp-curr-amount">kr. {{totalAmount}}.-</p>
				</div>
				<!-- /#progress-meter -->

			</div>
			<!-- /#header -->

			<!-- chart-area -->
			<div id="chartContainer" class="row hfp-chart">
				<div class="col-lg-12 hfp-div">
					<div id="mypie"></div>
				</div>
			</div>
			<!-- /#chart-area -->

			<!-- mini-chart-area -->
			<div class="row hfp-minichart">
				<h1>Stöplar</h1>
			</div>
			<!-- /#mini-chart-area -->

		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#hvertfarapeningarnir -->

	<script src="node_modules/angular/angular.js" type="text/javascript" charset="utf-8"></script>
	<script src="node_modules/angular-animate/angular-animate.js" type="text/javascript" charset="utf-8"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/Chart.js/Chart.js"></script>
	<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
	<script type="text/javascript" src="node_modules/canvasjs/dist/canvasjs.min.js"></script>
	<script src="node_modules/angular-route/angular-route.js" type="text/javascript" charset="utf-8"></script>
	<script src="node_modules/angular-loading-bar/src/loading-bar.js" type="text/javascript" charset="utf-8"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
	<script src="js/d3pie.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/app.js" type="text/javascript" charset="utf-8"></script>

	<!--<script src="js/d3pie.js"></script>-->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</body>
</html>