body {
    background-color: #1b1b1b;
    color: #dadada;
}

@font-face {
    font-family: font2;
    src: url(../fonts/ufonts.com_gill-sans-mt-bold-italic.ttf);
}

@font-face {
    font-family: font3;
    src: url(../fonts/HelveticaNeue-Light.otf);
}

@font-face {
    font-family: font4;
    src: url(../fonts/Optima-Bold_34072.ttf);
}

html, body {
    height: 100%;
    text-align: center;
}

.hfp-content, .hfp-wrapper {
    min-height: 100%;
    height: 100%;
}

.hfp-header {
    //background-color: #1b6d85;
    height: 69px;
}

.hfp-div {
    height: 100%;
    position: relative;
}

.hfp-div > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.hfp-chart {
    //background-color: #2b542c;
    height: 85%;
    height: calc(100% - 69px);
}

.hfp-minichart {
    background-color: #7a43b6;
    position: fixed;
    bottom: 30px;
    right: 40px;
    height: 180px;
    width: 250px;
    opacity: 0.5;
}

.hfp-circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: gray;
    margin: auto;
    /* width and height can be anything, as long as they're equal */
    box-shadow: 0px 0px 135px #696969;
}

.hfp-pie {
    width: 50%;
    height: 80%;
    margin: auto;
}

.hfp-headerbuttons {
    text-align: left;
}

.nav > .hfp-tab.active > a {
    background-color: #2aabd2;
}

#hfp-calendar-dropdown {
    z-index: 1000;
    position: absolute;
    left: 75px;
    width: 300px;
    top: 208px;
    height: 300px;
    overflow-y: auto;
    background: #888888;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hfp-hidden {
    display: none;
}

#kop-logo {
    width: 28px;
    margin-right: 6px;
}

h1, h2 {
    margin: 0;
}

#sub-title {
    font-family: font3;
    font-size: 28px;
}

#main-title {
    font-size: 32px;
    font-family: font2;
    margin-bottom: 10px;
}

#hfp-progress-bar > * {
    background-image: -webkit-linear-gradient(top, #00853E 0%, #3E4C3E 100%);
    background-image: -o-linear-gradient(top, #00853E 0%, #3E4C3E 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00853E), to(#3E4C3E));
    background-image: linear-gradient(to bottom, #00853E 0%, #3E4C3E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
    background-repeat: repeat-x;
}

#hfp-progress-bar {
    width: 60%;
    min-width: 220px;
    right: 15px;
    position: absolute;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #dadada;
}

#hfp-curr-amount {
    position: absolute;
    display: inline;
    right: 15px;
    top: 58px;
}

.hfp-btn {
    margin-right: 12px;
    color: #dadada;
    background: transparent;
    font-size: 20px;
    padding: 2px;
    text-shadow: none;
    width: 44px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius: 0;
    border-width: 2px;
}

#mypie {
    /*border: 1px solid red;*/
}