body {
    background-color: #fff;
    color: #444e52;
    z-index: -5;
}

#page-content-wrapper {
    padding: 14px;
}

@font-face {
    font-family: font1;
    src: url(../fonts/Optima-Italic.ttf);
    font-weight: bold;
}

@font-face {
    font-family: font2;
    src: url(../fonts/ufonts.com_gill-sans-mt-bold-italic.ttf);
}

@font-face {
    font-family: font3;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: font4;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: font5;
    src: url(../fonts/FultonsHand_Regular.ttf);
}

html, body {
    height: 100%;
    text-align: center;
}

.hfp-content, .hfp-wrapper {
    min-height: 100%;
    height: 100%;
}

.hfp-header {
    height: 90px;
}

.hfp-div {
    height: 100%;
    position: relative;
}

.hfp-div > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.hfp-chart {
    height: calc(100% - 90px);
}

.hfp-minichart {
    position: fixed;
    /*bottom: 50px;*/
    bottom: calc(100vw * 0.15);
    right: 40px;
    height: 250px;
    min-width: 250px;
    width: 18%;
}

#hfp-breadcrumb {
    position: relative;
    bottom: 45px;
    /*left: 50%;
    height: 40px;
    width: 1200px;
    margin-left: -600px;*/
    font-family: font4;
    font-size: 26px;
    /* border: 1px solid red; */
}

#hfp-label {
    font-family: font4;
    font-size: 16px;
}

.change-view-toggle {
    height: 36px;
}

div#sidebar-wrapper.toggle-sidebar {
    margin-left: -522px;
}

.hfp-circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: gray;
    margin: auto;
    /* width and height can be anything, as long as they're equal */
    box-shadow: 0px 0px 135px #696969;
}

.hfp-pie {
    width: 50%;
    height: 80%;
    margin: auto;
}

.hfp-headerbuttons {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav > .hfp-tab.active > a {
    background-color: #2aabd2;
}

.footer-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
}

#hfp-calendar-dropdown {
    z-index: 1000;
    position: absolute;
    left: 134px;
    width: auto;
    top: 200px;
    height: auto;
    overflow-y: visible;
    background: rgb(204, 204, 204);
    font-family: font4;
    padding: 0;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
}

table {
    font-family: font4;
}

.hfp-hidden {
    display: none;
}

#kop-logo {
    height: 90px;
    margin-right: 11px;
}

h1, h2 {
    margin: 0;
}

#sub-title {
    font-family: font3;
    font-size: 30px;
    position: relative;
    top: 2px;
    height: 40px;
}

.p2, .p10 {
    padding: 0px;
}

.p10 {
    flex: 1;
}

#main-title {
    font-size: 36px;
    font-family: font2;
}

#hfp-progress-bar > * {
    background-image: -webkit-linear-gradient(top, #008c44 0%, #008c44 100%);
    background-image: -o-linear-gradient(top, #008c44 0%, #008c44 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#008c44), to(#008c44));
    background-image: linear-gradient(to bottom, #008c44 0%, #008c44 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#hfp-progress-bar {
    height: 34px;
    width: 60%;
    min-width: 220px;
    right: 15px;
    position: absolute;
    border: 1px solid #444e52;
    font-family: font4;
    overflow: visible;
}

#hfp.percentage {
    /*font-family: font4;*/

}

#clear-filters {
    background-color: rgb(194, 70, 66);
    position: relative;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 12px;
    color: white;
}

#clear-filters:focus {
    color: inherit;
    outline: none;
    color: white;
}

#clear-filters:hover {
    background-color: rgba(194, 70, 66, 0.87);
}

#clear-btn {
    /*width: 50%;*/
}

.tree-header {
    text-align: left;
    font-size: 16px;
    padding: 12px;
    background-color: #bbbbbb;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
}

.panel-heading {
    z-index: 2000;
    position: fixed;
    width: 271px;
    background-color: #bbbbbb;
}

.tree-header.first {
    padding-top: 108px;
}

.tree-header-span {
    font-family: font4;
    letter-spacing: 1px;
}

.nav-tabs.nav-justified {
    position: fixed;
    width: 271px;
    z-index: 2000;
}

.tab-content {
    padding-top: 42px;
}

.hfp-curr-amount {
    position: absolute;
    display: inline;
    right: 15px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    top: 63px;
    font-family: font4;
}

.hfp-btn {
    margin-right: 0px;
    color: #444e52;
    background: transparent;
    font-size: 20px;
    padding: 2px;
    text-shadow: none;
    width: 44px;
    -webkit-border-radius:4;
    -moz-border-radius:4;
    border-radius: 4;
    border-width: 2px;
    border-color: #444e52;
}

.hfp-btn:hover {
    background: transparent;
    border-color: #008c44;
    color: #008c44;
}

.hfp-btn:focus {
    color: #444e52;
    border-color: #444e52;
    outline: none;
    background: transparent;
}

.nav-tabs.nav-justified > li.active > a {
    background-color: #bbbbbb;
    font-weight: 900;
}

.nav-tabs > li > a {
    background-color: whitesmoke;
}

#sidebar-wrapper > div > ul > li > a {
    color: #444e52;
    border-bottom: 1px solid black;
}

#sidebar-wrapper > div > ul > li#faq > a {
    border-left: 1px solid #444e52;
    border-top-left-radius: 0;
}

#sidebar-wrapper > div > ul > li#panel-filters > a {
    border-top-right-radius: 0;
}

#sidebar-wrapper > div > ul > li.active > a {
    color: #444e52;
    border-bottom: 1px solid #bbbbbb;
}

.nav-tabs > li > a:hover {
    background-color: #6b6b6b;
}

#sidebar-wrapper {
    font-family: font4;
    border-top: 1px solid #4b4b4b;
    border-right: 1px solid #4b4b4b;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, .8);
    color: #444e52;
    border-top-left-radius: 0;
    height: calc(100% - 110px);
}

#accordionA {
    margin: 10px;
}

.hfp-filter-group.panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background: transparent;
    color: #444e52;
}

.panel-default > .panel-heading {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background: #fff;
    color: #444e52;
    font-family: font3;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #4b4b4b;
}

.hfp-filter-arrow {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -o-transition: -i-transform 0.5s;
    transition: transform 0.5s;
}

.arrow-right {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-collapse.collapse,
.panel-collapse.collapse.in {
    display: block;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.canvasjs-chart-credit {
    display: none;
}

.calendar-row {
    margin: 15px 0 15px 0;
}

#chartContainer, #miniChartContainer {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.hfp-rotate {
    height: 90px;
    position: fixed;
    bottom: 150px;
    right: 340px;
    opacity: 0.7;
}

.btn-group, .dropdown-toggle {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.option-header {
    height: 50px;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    background-color: inherit;
    position: relative;
}

/*.option-header:hover {*/
    /*background-color: rgb(90, 202, 125);*/
/*}*/

.option-choices {
    height: 35px;
    background-color: rgb(245, 245, 245);
    background-color: rgba(245, 245, 245, 0.8);
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.option-choices:hover, .option-header:hover, #query:hover {
    background-color: rgb(103, 230, 141);
}

.option-hidden {
    height: 0;
}

.option {
    height: auto;
}

#option-text {
    font-weight: bold;
}

.locked-choice {
    height: 35px;
    /*color: #dadada;*/
    /*background-color: rgb(68, 78, 82);*/
}

.option span.option-arrow, .option span.choice-remove {
    left: 90%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: auto;
}

.option span.choice-remove.add-choice {
    color: #0a894a;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

i.fa.fa-eye {
    position: absolute;
    top: 8px;
    font-size: 30px;
    left: 10%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.one, .two {
    position: absolute;
    border-radius: 3px;
    background: #fff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 400ms all ease-out;
    -moz-transition: 400ms all ease-out;
    -ms-transition: 400ms all ease-out;
    -o-transition: 400ms all ease-out;
    transition: 400ms all ease-out;
}

.one.minus-sign {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background-color: #c04541;
 }

.two.minus-sign {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #c04541;
}

.one {
    top: 5px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #0a894a;
}

.two {
    top: 0;
    left: 5px;
    bottom: 0;
    width: 4px;
    background-color: #0a894a;
}

.plus-icon {
    position: relative;
    width: 14px;
    height: 14px;
    float: right;
    right: 7%;
    top: 10.5px;
}
.option-header:hover, .option-choices.clickable:hover, g:hover {
    cursor: pointer;
}

.option span.choice-remove {
    color: #c04541;
}

.option span.option-arrow.arrow-down {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
}

.hideThis {
    display: none;
}

.header-link, .header-link:hover, .header-link:visited, .header-link:active, .header-link:link {
    color: inherit;
    text-decoration: none;
}

.option span {
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

span#hfp-percentage {
    position: relative;
    top: -19px;
    color: #444e52;
    font-size: 14px;
}


/*
    Login window syle below
*/
.hfp-login-panel {
    font-family: font4;
    max-width: 350px;
    width: 95%;
    max-height: 350px;
    margin: auto;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    /*background-color: rgb(75, 75, 75);
    background-color: rgba(75, 75, 75, 0.8);*/
}

.login-input-div {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.login-input {
    color: #444e52;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: transparent;
    text-align: center;
}

.hfp-login-button {
    /*background: #0a894a;*/
    width: 150px;
    /*padding: 10px 20px;*/
    /*-webkit-border-radius:4px;*/
    /*-moz-border-radius:4px;*/
    /*border-radius: 4px;*/
    /*margin: auto;*/
    margin-top: 15px;
}

.login-input-div > p {
    margin: 0 0 0 13px;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.login-input-div > p.changed {
    opacity: 1;
}

/*
    Instructions style
*/

.bring-to-front {
    z-index: 2000;
}

#instr0 {
    z-index: 2500;
    position: absolute;
    top: 45%;
    left: 20%;
    width: 60%;
    font-size: 24px;
}

#arrow-big-left {
    z-index: 2500;
    position: absolute;
    top: 45%;
    left: 20px;
    width: 60px;
    cursor: pointer;
}

#arrow-big-right {
    z-index: 2500;
    position: absolute;
    top: 45%;
    right: 20px;
    width: 60px;
    cursor: pointer;
}


#arrow-big-right:hover {
    width: 70px;
}

#arrow-big-left:hover {
    width: 70px;
}

#next-instr {
    z-index: 2500;
    position: relative;
    top: 37px;
    left: 250px;
    height: 36px;
    width: 100px;
}

#hfp-instructions {
    z-index: 1500;
    position: relative;
    text-align: left;
    bottom: 100%;
    left: 0px;
    height: 100%;
    width: 100%;
    font-family: font4;
    font-size: 24px;
    background: rgba(43, 43, 43, .8);
    color: white;
    font-family: font4;
}

#instr1 {
    position: absolute;
    top: 130px;
    left: 60px;
    width: 60%;
}

#instr2 {
    position: relative;
    top: 130px;
    left: 60px;
    width: 60%;
}

#instr4 {
    position: relative;
    top: 130px;
    left: 60px;
    width: 60%;
}

#instr3 {
    position: relative;
    top: 130px;
    left: 60px;
    width: 60%;
}

#instr5 {
    position: relative;
    top: 200px;
    left: 60px;
    width: 60%;
}

#instr6 {
    position: relative;
    top: 200px;
    left: 60px;
    width: 60%;
    text-align: center;
}

#instr7 {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 60%;
    /*border: 1px solid red;*/
}

#instr8 {
    position: absolute;
    top: 150px;
    left: 300px;
    width: 60%;
}

#instr9 {
    position: absolute;
    top: 200px;
    left: 300px;
    width: 60%;
}

#instr10 {
    z-index: 3500;
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
}

#instr11 {
    position: absolute;
    top: 200px;
    left: 20%;
    width: 60%;
}

#instr12 {
    position: absolute;
    bottom: 40%;
    right: 20%;
    width: auto;
}

#instr13 {
    position: absolute;
    top: 70px;
    right: 15%;
    width: 70%;
}

#instr14 {
    position: absolute;
    top: -20px;
    left: 350px;
    width: 50%;
}

.arrow1 {
    position: relative;
    top: -30px;
    left: -15px;
    transform: rotate(340deg) scaleY(-1);
}

.arrow2 {
    position: relative;
    top: -40px;
    left: 10px;
    transform: rotate(175deg);
}

.arrow3 {
    position: relative;
    top: -40px;
    left: 150px;
    transform: scaleY(-1) rotate(325deg);
}

.arrow4 {
    position: relative;
    top: -40px;
    left: 100px;
    transform: rotate(200deg);
}

.arrow5 {
    position: relative;
    top: 30px;
    left: -50px;
    transform: rotate(80deg);
    /*border: 1px solid red;*/
}

.arrow6 {
    position: relative;
    top: 30px;
    left: -50px;
    transform: rotate(80deg) scaleX(-1);
}

.arrow7 {
    position: relative;
    top: -30px;
    left: 25%;
    transform: rotate(220deg) scaleX(-1);
}

.arrow8 {
    position: relative;
    top: 0px;
    left: 47%;
    transform: rotate(220deg);
}

.arrow9 {
    position: relative;
    top: 95px;
    left: 90%;
    transform: rotate(330deg);
}

.arrow10 {
    position: relative;
    top: -10px;
    left: 85%;
    transform: rotate(210deg) scaleX(-1);
}

#loading-bar .bar {
    background-color: #008c44;
    height: 4px;
}

#loading-bar-spinner .spinner-icon {
    width: 18px;
    height: 18px;
    border: solid 4px transparent;
    border-top-color: #008c44;
    border-left-color: #008c44;
    border-radius: 10px;
    display:none;
}

.arrow11 {
    position: relative;
    top: 30px;
    left: -40px;
    transform: rotate(140deg) scaleX(-1);
}

.modal-content {
    color: black;
    font-family: font4;
}

.hfp-from-to {
    text-align: left;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.hfp-label {
    font-weight: normal;
    margin: 15px 0 0 0;
}

.hfp-alert {
    bottom: 100px;
    left: 20%;
    z-index: 100;
    width: 60%;
    margin: 3px;
    background-color: #ffbd6d;
    background-image: none;
    border: none;
    border-radius: 0px;
    color: inherit;
}
/*
    Table
*/

header {
    font-family: font5;
    font-size: 20px;
    margin-bottom: 20px;
}

#table {
    position: absolute;
    width: 600px;
    height: 400px;
    left: 50%;
    top: 55%;
    margin-left: -300px;
    margin-top: -200px;
    overflow: scroll;
}

.col1 {
    text-align: left;
}

.col2 {
    text-align: left;
}

.col3 {
    text-align: right;
}

.col4 {
    text-align: right;
}

.head {
    background-color: #cccccc;
}

.admin-panel-row {
    margin-bottom: 20px;
}

.admin-panel-row.top-row {
    margin-bottom: 10px;
}


/* td { border: 1px; solid #ccc; padding: 10px; }
thead { width: 100%; position: fixed; height; 109px; }
tbody { margin: 109px 0 0 0;  }
*/


/* TODO: Almennar/Algengar Fyrirspurnir */

/* Almennar/Algengar Fyrirspurnir */
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#query {
    text-decoration: none;

    height: 92px;
    line-height: 62px;
    width: 100%;
    padding: 0 25px;
    font-size: 15px;
    text-align: center;
    margin-left: 4px;
    display: block;
    color: #444e52;
    display: table-cell;
    float: none;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
    height: 50px;
    background-color: #bbbbbb;
    position: relative;
    border-bottom: 1px solid black;
    font-family: font4;

}

.orderable {
    cursor: pointer;
}

/*
    Loading spinner. Credit to http://tobiasahlin.com/spinkit/
*/
.spinner {
    width: 46px;
    height: 46px;
    background-color: #4BA24B;
    display: inline-block;

    margin-top: 10px;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}

/*
    Styles making HFP responsive
*/

@media(max-width:768px) {
    .hfp-secondary-btn {
        display: none;
    }
}

@media(max-width:725px) {
    #hfp-progress > * {
        display: none;
    }

    #hfp-progress, .hfp-headerbuttons {
        width: 16.66666667%;
    }

    #hfp-breadcrumb {
        font-size: 22px;
    }

    .hfp-title.col-xs-4 {
        width: 66.66666667%;
    }
}

@media(max-width:373px) {
    #main-title {
        font-size: 26px;
    }

    #sub-title {
        font-size: 22px;
    }
}

@media(max-width:768px) and (max-height:940px) {
    #miniChartContainer {
        display: none;
    }
}

@media(max-width:1089px) {
    .hfp-header {
        height: 122px;
    }

    .hfp-chart {
        height: calc(100% - 122px);
    }

    .hfp-curr-amount {
        top: 80px;
    }

    #hfp-calendar-dropdown {
        top: 195px;
    }
}

.glyphicon-info-sign {
    font-size: 20px;

}
.glyphicon-info-sign:hover {
    color: #008c44;
}

