body {
    background-color: #1b1b1b;
    color: #dadada;
}

@font-face {
    font-family: font1;
    src: url(../fonts/Optima-Italic.ttf);
    font-weigth: bold;
}

@font-face {
    font-family: font2;
    src: url(../fonts/ufonts.com_gill-sans-mt-bold-italic.ttf);
}

@font-face {
    font-family: font3;
    src: url(../fonts/HelveticaNeue-Light.otf);
}

@font-face {
    font-family: font4;
    src: url(../fonts/Optima-Regular.ttf);
}

@font-face {
    font-family: font5;
    src: url(../fonts/FultonsHand_Regular.ttf);
}

html, body {
    height: 100%;
    text-align: center;
}

.hfp-content, .hfp-wrapper {
    min-height: 100%;
    height: 100%;
}

.hfp-header {
    height: 90px;
}

.hfp-div {
    height: 100%;
    position: relative;
}

.hfp-div > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.hfp-chart {
    height: calc(100% - 90px);
}

.hfp-minichart {
    //background-color: #7a43b6;
    position: fixed;
    bottom: 50px;
    right: 40px;
    height: 250px;
    width: 250px;
    //opacity: 0.5;
}

#hfp-breadcrumb {
    position: relative;
    bottom: 45px;
    /*left: 50%;
    height: 40px;
    width: 1200px;
    margin-left: -600px;*/
    font-family: font4;
    font-size: 26px;
    //border: 1px solid red;
}

#hfp-label {
    font-family: font1;
    font-size: 16px;
}

.hfp-circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: gray;
    margin: auto;
    /* width and height can be anything, as long as they're equal */
    box-shadow: 0px 0px 135px #696969;
}

.hfp-pie {
    width: 50%;
    height: 80%;
    margin: auto;
}

.hfp-headerbuttons {
    text-align: left;
}

.nav > .hfp-tab.active > a {
    background-color: #2aabd2;
}

#hfp-calendar-dropdown {
    z-index: 1000;
    position: absolute;
    left: 75px;
    width: auto;
    top: 180px;
    height: auto;
    overflow-y: visible;
    background: rgb(43, 43, 43);
    background: rgba(43, 43, 43, .8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 0;
}

.hfp-hidden {
    display: none;
}

#kop-logo {
    width: 28px;
    margin-right: 6px;
}

h1, h2 {
    margin: 0;
}

#sub-title {
    font-family: font3;
    font-size: 28px;
}

#main-title {
    font-size: 32px;
    font-family: font2;
    margin-bottom: 10px;
}

#hfp-progress-bar > * {
    background-image: -webkit-linear-gradient(top, #007339 0%, #007339 100%);
    background-image: -o-linear-gradient(top, #007339 0%, #007339 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#007339), to(#007339));
    background-image: linear-gradient(to bottom, #007339 0%, #007339 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
    background-repeat: repeat-x;
}

#hfp-progress-bar {
    height: 26px;
    width: 60%;
    min-width: 220px;
    right: 15px;
    position: absolute;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #dadada;
    font-family: font4;
}

#hfp.percentage {
    //font-family: font4;

}

#clear-filters {
    background-color: rgb(194, 70, 66);
    position: relative;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 12px;
}

#clear-filters:focus {
    color: inherit;
    outline: none;
}

#clear-filters:hover {
    color: inherit;
    background-color: rgba(194, 70, 66, 0.87);
}

#clear-btn {
    //width: 50%;
}

.hfp-curr-amount {
    position: absolute;
    display: inline;
    right: 15px;
    top: 68px;
    font-family: font4;
}

.hfp-btn {
    margin-right: 12px;
    color: #dadada;
    background: transparent;
    font-size: 20px;
    padding: 2px;
    text-shadow: none;
    width: 44px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius: 0;
    border-width: 2px;
}

.hfp-btn:focus {
    color: #dadada;
    border-color: #dadada;
    outline: none;
    background: transparent;
}

#mypie {
    /*border: 1px solid red;*/
}

.nav-tabs.nav-justified > li > a,
.nav-tabs.nav-justified > li.active > a,
.nav-tabs.nav-justified > li.active > a:hover,
.nav-tabs.nav-justified > li.active > a:focus
{
    border: 1px solid #4b4b4b;
}

.nav-tabs.nav-justified > li.active > a {
    background-color: #007339;
}

.nav-tabs > li > a:hover {
    background-color: #6b6b6b;
}

#sidebar-wrapper {
    font-family: font3;
    border-right: 1px solid #4b4b4b;
}

#accordionA {
    margin: 10px;
}

.hfp-filter-group.panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background: transparent;
    color: #dadada;
}

.panel-default > .panel-heading {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background: #1b1b1b;
    color: #dadada;
    font-family: font3;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #4b4b4b;
}

.hfp-filter-arrow {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -o-transition: -i-transform 0.5s;
    transition: transform 0.5s;
}

.arrow-right {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-collapse.collapse,
.panel-collapse.collapse.in {
    display: block;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.canvasjs-chart-credit {
    display: none;
}

.calendar-row {
    margin: 15px 0 15px 0;
}

#chartContainer, #miniChartContainer {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.hfp-rotate {
    height: 90px;
    position: fixed;
    bottom: 150px;
    right: 340px;
    opacity: 0.7;
}

.btn-group, .dropdown-toggle {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.option-header {
    height: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgb(39, 39, 39);
    background-color: rgba(39, 39, 39, 0.8);
    position: relative;
    border-top: 1px solid black;
}

.option-header:hover {
    background-color: rgb(1, 114, 57);
}

.option-choices {
    height: 35px;
    background-color: rgb(27, 27, 27);
    background-color: rgba(27, 27, 27, 0.8);
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.option-choices:hover {
    background-color: rgb(10, 10, 10);
}

.option-hidden {
    height: 0;
}

.option {
    height: auto;
}

#option-text {
    font-weight: bold;
}

.locked-choice {
    height: 35px;
    background-color: rgb(0, 43, 7);
    background-color: rgba(0, 43, 7, 0.8);
}

.option span.option-arrow, .option span.choice-remove {
    left: 90%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: auto;
}

.option span.choice-remove.add-choice {
    color: #0a894a;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.one, .two {
    position: absolute;
    border-radius: 3px;
    background: #fff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 400ms all ease-out;
    transition: 400ms all ease-out;
}

.one.minus-sign {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background-color: #c04541;
 }

.two.minus-sign {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #c04541;
}

.one {
    top: 5px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #0a894a;
}

.two {
    top: 0;
    left: 5px;
    bottom: 0;
    width: 4px;
    background-color: #0a894a;
}

.plus-icon {
    position: relative;
    width: 14px;
    height: 14px;
    float: right;
    right: 7%;
    top: 10.5px;
}
.option:hover, .option-choices:hover {
    cursor: pointer;
}

.option span.choice-remove {
    color: #c04541;
}

.option span.option-arrow.arrow-down {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
}

.hideThis {
    display: none;
}

.header-link, .header-link:hover, .header-link:visited, .header-link:active, .header-link:link {
    color: inherit;
    text-decoration: none;
}

.option span {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

/*span.option-selected {
    left: 30%;
}*/

@media(max-width:1089px) {
    .hfp-header {
        height: 122px;
    }

    .hfp-chart {
        height: calc(100% - 122px);
    }

    .hfp-curr-amount {
        top: 85px;
        font-family: "font4";
    }

    #hfp-calendar-dropdown {
        top: 195px;
    }
}

@media(max-width:1089px) {

}

/* TODO, support screens down to 768pixels wide */

/*
    Login window syle below
*/
.hfp-login-panel {
    font-family: font3;
    max-width: 350px;
    width: 95%;
    max-height: 350px;
    margin: auto;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    /*background-color: rgb(75, 75, 75);
    background-color: rgba(75, 75, 75, 0.8);*/
}

.login-input-div {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.login-input {
    color: #dadada;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: transparent;
    text-align: center;
}

.hfp-login-button {
    /*background: #0a894a;*/
    width: 150px;
    /*padding: 10px 20px;*/
    /*-webkit-border-radius:4px;*/
    /*-moz-border-radius:4px;*/
    /*border-radius: 4px;*/
    /*margin: auto;*/
    margin-top: 15px;
}

.login-input-div > p {
    margin: 0 0 0 13px;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.login-input-div > p.changed {
    opacity: 1;
}

/*
    Instructions style
*/

.bring-to-front {
    z-index: 2000;
}

#instr0 {
    z-index: 2500;
    position: absolute;
    top: 45%;
    left: 22%;
    font-size: 24px;
}

#arrow-big-left {
    z-index: 2500;
    position: absolute;
    top: 45%;
    left: 20px;
    width: 60px;
}

#arrow-big-right {
    z-index: 2500;
    position: absolute;
    top: 45%;
    right: 20px;
    width: 60px;
}

#next-instr {
    z-index: 2500;
    position: relative;
    top: 37px;
    left: 250px;
    height: 36px;
    width: 100px;
}

#hfp-instructions {
    z-index: 1500;
    position: relative;
    text-align: left;
    bottom: 100%;
    left: 0px;
    height: 100%;
    width: 100%;
    font-family: font5;
    font-size: 24px;
    background: rgba(43, 43, 43, .8);
}

#instr1 {
    position: absolute;
    top: 130px;
    left: 60px;
    width: 60%;
}

#instr2 {
    position: relative;
    top: 130px;
    left: 60px;
    width: 60%;
}

#instr4 {
    position: relative;
    top: 130px;
    left: 60px;
    width: 60%;
}

#instr3 {
    position: relative;
    top: 130px;
    left: 60px;
    width: 60%;
}

#instr5 {
    position: relative;
    top: 200px;
    left: 60px;
    width: 60%;
}

#instr6 {
    position: relative;
    top: 200px;
    left: 60px;
    width: 60%;
    text-align: center;
}

#instr7 {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 60%;
    //border: 1px solid red;
}

#instr8 {
    position: absolute;
    top: 150px;
    left: 300px;
    width: 60%;
}

#instr9 {
    position: absolute;
    top: 200px;
    left: 300px;
    width: 60%;
}

#instr10 {
    z-index: 3500;
    position: absolute;
    bottom: 20px;
    left: 200px;
    width: 80%;
}

#instr11 {
    position: absolute;
    bottom: 120px;
    left: 200px;
    width: 80%;
}

#instr12 {
    position: absolute;
    bottom: 320px;
    right: 120px;
    width: auto;
}

#instr13 {
    position: absolute;
    top: 70px;
    right: 50px;
    width: 70%;
}

#instr14 {
    position: absolute;
    top: -20px;
    left: 350px;
    width: 50%;
}

.arrow1 {
    position: relative;
    top: -30px;
    left: -15px;
    transform: rotate(340deg) scaleY(-1);
}

.arrow2 {
    position: relative;
    top: -40px;
    left: 10px;
    transform: rotate(175deg);
}

.arrow3 {
    position: relative;
    top: -40px;
    left: 150px;
    transform: scaleY(-1) rotate(325deg);
}

.arrow4 {
    position: relative;
    top: -40px;
    left: 100px;
    transform: rotate(200deg);
}

.arrow5 {
    position: relative;
    top: 30px;
    left: -50px;
    transform: rotate(80deg);
    //border: 1px solid red;
}

.arrow6 {
    position: relative;
    top: 30px;
    left: -50px;
    transform: rotate(80deg) scaleX(-1);
}

.arrow7 {
    position: relative;
    top: 10px;
    left: 380px;
    transform: rotate(220deg);
}

.arrow8 {
    position: relative;
    top: 125px;
    left: 380px;
    transform: rotate(20deg);
}

.arrow9 {
    position: relative;
    top: 95px;
    left: 480px;
    transform: rotate(330deg);
}

.arrow10 {
    position: relative;
    top: -10px;
    left: 620px;
    transform: rotate(210deg) scaleX(-1);
}

.arrow11 {
    position: relative;
    top: 30px;
    left: -40px;
    transform: rotate(140deg) scaleX(-1);
}

.modal-content {
    color: black;
    font-family: font3;
}

.hfp-from-to {
    text-align: left;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.hfp-label {
    font-weight: normal;
    margin: 15px 0 0 0;
}

.hfp-alert {
    position: fixed;
    bottom: 10px;
    z-index: 100;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
}

/*
    Table
*/

header {
    font-family: font5;
    font-size: 20px;
    margin-bottom: 20px;
}

#table {
    position: absolute;
    width: 600px;
    height: 400px;
    left: 50%;
    top: 55%;
    margin-left: -300px;
    margin-top: -200px;
    overflow: scroll;
}

.col1 {
    text-align: left;
}

.col2 {
    text-align: left;
}

.col3 {
    text-align: right;
}

.col4 {
    text-align: right;
}

.head {
    background-color: #2b2b2b;
}

.admin-panel-row {
    margin-bottom: 20px;
}

.admin-panel-row.top-row {
    margin-bottom: 10px;
}