<div id="page-content-wrapper" class="container-fluid hfp-content">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Uppfæra gagnagrunn</h3>
        </div>

        <!-- modal-body -->
        <div class="modal-body">
            <span>Vinsamlegast veldu tímabil þeirra gagna sem þú vilt uppfæra. Hægt er að uppfæra ákveðin ár eða velja um að uppfæra öll gögnin.</span>
            <div class="row">

                <div class="col-xs-6">
                    <p class="hfp-from-to">Frá: </p>

                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="updateObject.updateAllData">
                            {{updateObject.selectedYearFrom}} <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="year in years">
                                <a href="javascript:void(0)" ng-click="selectYearFrom(year)">{{year}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-6">
                    <p class="hfp-from-to">Til: </p>

                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="updateObject.updateAllData">
                            {{updateObject.selectedYearTo}} <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="year in years">
                                <a href="javascript:void(0)" ng-click="selectYearTo(year)">{{year}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!--TODO: Remove below if we end up with only having years updated at a time-->
            <!--<div class="row">
                <p class="hfp-from-to">Til: </p>

                <div class="col-xs-6">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="updateObject.updateAllData">
                            {{updateObject.selectedMonthTo}} <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="month in months">
                                <a href="javascript:void(0)" ng-click="selectMonthTo(month)">{{month}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="updateObject.updateAllData">
                            {{updateObject.selectedYearTo}} <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="year in years">
                                <a href="javascript:void(0)" ng-click="selectYearTo(year)">{{year}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->

            <div class="row">
                <label class="hfp-label col-xs-12">
                    <input type="checkbox" ng-model="updateObject.updateAllData"> Uppfæra öll gögn
                </label>
            </div>
        </div>
        <!-- /#modal-body -->

        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="ok()">Uppfæra</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Hætta</button>
        </div>
    </script>

    <!-- header -->
    <div class="row hfp-header">

        <!-- title -->
        <div class="col-xs-12 hfp-div hfp-title hfp-title">
            <div>
                <h2 id="main-title">Hvert fara peningarnir?</h2>
                <h1 id="sub-title"><img src="koplogo.gif" alt="" id="kop-logo">Kópavogsbær</h1>
            </div>
        </div>
        <!-- /#title -->

    </div>
    <!-- /#header -->

    <!-- content-wrapper -->
    <div id="chartContainer" class="row hfp-chart">
        <div class="col-xs-12 hfp-div">
            <!-- admin-panel -->
            <div class="hfp-login-panel hfp-div">

                <div class="col-xs-12">

                    <div class="row admin-panel-row top-row">
                        <div class="col-xs-12"><h2>Hæ, {{currentUser.password.email}}</h2></div>
                    </div>

                    <div class="row admin-panel-row">
                        <div class="col-xs-12"><p>Hvað má bjóða þér að gera?</p></div>
                    </div>

                    <div class="row admin-panel-row">
                        <button type="button" class="btn btn-success btn-lg btn-block" ng-click="open('md')">Uppfæra gagnagrunn</button>
                    </div>

                    <div class="row admin-panel-row">
                        <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="logout()">Útskrá</button>
                    </div>

                </div>
            </div>
            <!-- /#admin-panel -->
        </div>
    </div>
    <!-- /#content-wrapper -->



</div>