<div id="page-content-wrapper" class="container-fluid hfp-content">

    <!-- header -->
    <div class="row hfp-header">

        <!-- title -->
        <div class="col-xs-12 hfp-div hfp-title hfp-title">
            <div>
                <h2 id="main-title">Hvert fara peningarnir?</h2>
                <h1 id="sub-title"><img src="koplogo.gif" alt="" id="kop-logo">Kópavogsbær</h1>
            </div>
        </div>
        <!-- /#title -->

    </div>
    <!-- /#header -->

    <!-- loginpanel -->
    <div id="chartContainer" class="row hfp-chart">
        <div class="col-xs-12 hfp-div">
            <p>Login panel comes here</p>
        </div>
    </div>
    <!-- /#loginpanel  -->

</div>