<div id="page-content-wrapper" class="container-fluid hfp-content">

    <!-- header -->
    <div class="row hfp-header">

        <!-- title -->
        <div class="col-xs-12 hfp-div hfp-title hfp-title">
            <div>
                <h2 id="main-title">Hvert fara peningarnir?</h2>
                <h1 id="sub-title"><img src="koplogo.gif" alt="" id="kop-logo">Kópavogsbær</h1>
            </div>
        </div>
        <!-- /#title -->

    </div>
    <!-- /#header -->

    <!-- content-wrapper -->
    <div id="chartContainer" class="row hfp-chart">
        <div class="col-xs-12 hfp-div">
            <!-- login-panel -->
            <div class="hfp-login-panel hfp-div" ng-controller="loginController">
                <div class="col-xs-12">
                    <h2 class="login-title">Innskráning</h2>

                    <form name="loginForm" onsubmit="return false;">
                        <div class="input-group login-input-div">
                            <p ng-class="{changed: loginForm.emailInput.$dirty}">Tölvupóstur</p>
                            <input name="emailInput" ng-model="email" class="form-control login-input" placeholder="Tölvupóstur" required>
                        </div>

                        <div class="input-group login-input-div">
                            <p ng-class="{changed: loginForm.passInput.$dirty}">Lykilorð</p>
                            <input type="password" name="passInput" ng-model="password" class="form-control login-input" placeholder="Lykilorð" required>
                        </div>

                        <input type="submit" class="hfp-login-button" value="Innskrá" ng-click="login(loginForm)">
                    </form>
                </div>
            </div>
            <!-- /#login-panel -->
        </div>
    </div>
    <!-- /#content-wrapper -->

</div>