<!-- header -->
<div class="row hfp-header">

    <!-- header-buttons -->
    <div class="col-xs-4 hfp-headerbuttons hfp-div">

        <button class="btn btn-default hfp-btn glyphicon glyphicon-filter" 		  ng-click="toggleDrawer()"   id="menu-toggle"></button>
        <button class="btn btn-default hfp-btn glyphicon glyphicon-calendar"      ng-click="toggleCalendar()" id="calendar-toggle"></button>
        <button class="btn btn-default hfp-btn glyphicon glyphicon-download-alt"  ng-click="testFunc()"></button>
        <button class="btn btn-default hfp-btn glyphicon glyphicon-question-sign" ng-click="testFunc()"></button>

        <!-- calendar-dropdown -->
        <div id="hfp-calendar-dropdown" class="hfp-hidden container" ng-controller="calendarController">

            <div class="calendar-row row">
                <div class="col-lg-12">
                    <span>Ár: </span>
                    <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                            {{selectedYear}} <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="year in years">
                                <a href="#" ng-click="setYear(year)">{{year}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="calendar-row row">
                <div class="col-lg-12">
                    <span>Mánuður: </span>
                    <div class="btn-group" uib-dropdown>
                        <button id="derka" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                            {{selectedMonth}} <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button 	">
                            <li role="menuitem" ng-repeat="month in months">
                                <a href="javascript:void(0)" ng-click="setMonth($index)">{{month}}</a href="#">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="calendar-row row">
                <div class="col-lg-12">
                    <span>Ársfjórðungur: </span>
                    <div class="btn-group" uib-dropdown>
                        <button id="" type="button" class="btn btn-default" uib-dropdown-toggle>
                            {{selectedQuarter}} <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button 	">
                            <li role="menuitem" ng-repeat="quarter in quarters">
                                <a href="javascript:void(0)" ng-click="setQuarter(quarter)">{{quarter}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#calendar-dropdown -->
    </div>
    <!-- /#header-buttons -->

    <!-- title -->
    <div class="col-xs-4 hfp-div hfp-title hfp-title">
        <div>
            <h2 id="main-title">Hvert fara peningarnir?</h2>
            <h1 id="sub-title"><img src="koplogo.gif" alt="" id="kop-logo">Kópavogsbær</h1>
        </div>
    </div>
    <!-- /#title -->

    <!-- progress-meter -->
    <div class="col-xs-4 hfp-div hfp-meter">
        <uib-progressbar id="hfp-progress-bar" max="max" value="dynamic"><span style="vertical-align: middle; white; white-space:nowrap;">{{dynamic}}%</span></uib-progressbar>
        <p id="hfp-curr-amount">kr. {{totalCredit}}.-</p>
    </div>
    <!-- /#progress-meter -->

</div>
<!-- /#header -->

<!-- chart-area -->
<div id="chartContainer" class="row hfp-chart">
    <div class="col-xs-12 hfp-div">
        <div id="mypie"></div>
    </div>
</div>
<!-- /#chart-area -->

<!-- mini-chart-area -->
<div id="miniChartContainer" class="row hfp-minichart"></div>
<!-- /#mini-chart-area -->