<!-- sidebar-wrapper -->
<div id="sidebar-wrapper" class="toggle-sidebar" ng-controller="tabsController">
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Síur" id="panel-filters">
            <div role="tab" class="panel-heading">
                <div class="panel-title">
                    <div id="clear-btn" class="btn-group">
                        <button data-toggle="tooltip" title="Heim" type="button" id="clear-filters" class="btn" ng-click="resetApp()" href="javascript: void(0)">
                            Upphafsstilla
                        </button>
                    </div>
                    <!--span>Skoða</span-->
                    <div class="btn-group" uib-dropdown>
                        <button data-toggle="tooltip" title="Skoða gjöld, sameiginlegar tekjur eða sértekjur" id="type-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                            <span ng-if="type === 'expenses'">Gjöld</span>
                            <span ng-if="type === 'joint-revenue'">Sameiginlegar tekjur</span>
                            <span ng-if="type === 'special-revenue'">Sértekjur</span>
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem">
                                <a href="javascript:void(0)" ng-click="changeView('expenses')">Gjöld</a>
                            </li>
                            <li role="menuitem">
                                <a href="javascript:void(0)" ng-click="changeView('joint-revenue')">Sameiginlegar tekjur</a>
                            </li>
                            <li role="menuitem">
                                <a href="javascript:void(0)" ng-click="changeView('special-revenue')">Sértekjur</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tree-header first">
                <span class="tree-header-span">1. Málaflokkar/deildir</span>
            </div>
            <div class="option" ng-repeat="option in options" id="option{{option.optionId}}" ng-if="($index > 2 || type !== 'joint-revenue') && $index < 4">
                <div class="option-header header{{option.optionId}}" ng-click="optionClicked(option.optionId)">
                    <i class="fa fa-eye option-eye{{option.optionId}}" aria-hidden="true" ng-if="option.optionId === currentLevel"></i>
                    <span id="option-text1">{{option.label}}</span>
                    <span class="glyphicon glyphicon-menu-right option-arrow" ng-class="{'arrow-down': option.open}" aria-hidden="true" ng-click="optionClicked(option.optionId)"></span>
                </div>

                <div class="option-choices choices{{option.optionId}} clickable" ng-click="choiceClicked(option.optionId, choice.choiceId)" ng-repeat="choice in option.choices" ng-class="{'option-hidden': !option.open, 'locked-choice': choice.chosen}">
                    <span ng-class="{'option-selected': choice.chosen}">{{choice.content}}</span>
                    <!-- PLUS SIGN -->
                    <div class="plus-icon">
                        <div class="one" ng-class="{'minus-sign': choice.chosen}"></div>
                        <div class="two" ng-class="{'minus-sign': choice.chosen}"></div>
                    </div>
                    <!--<span class="glyphicon glyphicon glyphicon-remove choice-remove" ng-class="{'add-choice': !choice.chosen}" aria-hidden="true"></span>-->
                </div>
            </div>
            <div class="tree-header">
                <span class="tree-header-span">2. Fjárhagslyklar</span>
            </div>
            <div class="option" ng-repeat="option in options" id="option{{option.optionId}}" ng-if="($index > 2 || type !== 'joint-revenue') && $index > 3 && $index < 7">
                <div class="option-header header{{option.optionId}}" ng-click="optionClicked(option.optionId)">
                    <i class="fa fa-eye option-eye{{option.optionId}}" aria-hidden="true" ng-if="option.optionId === currentLevel"></i>
                    <span id="option-text2">{{option.label}}</span>
                    <span class="glyphicon glyphicon-menu-right option-arrow" ng-class="{'arrow-down': option.open}" aria-hidden="true"></span>
                </div>

                <div class="option-choices clickable choices{{option.optionId}}" ng-click="choiceClicked(option.optionId, choice.choiceId)" ng-repeat="choice in option.choices" ng-class="{'option-hidden': !option.open, 'locked-choice': choice.chosen}">
                    <span ng-class="{'option-selected': choice.chosen}">{{choice.content}}</span>
                        <!-- PLUS SIGN -->
                    <div class="plus-icon">
                        <div class="one" ng-class="{'minus-sign': choice.chosen}"></div>
                        <div class="two" ng-class="{'minus-sign': choice.chosen}"></div>
                    </div>
                    <!--<span class="glyphicon glyphicon glyphicon-remove choice-remove" ng-class="{'add-choice': !choice.chosen}" aria-hidden="true"></span>-->
                </div>
            </div>
            <div class="tree-header">
                <span class="tree-header-span">3. Lánadrottnar</span>
            </div>
            <div class="option" ng-repeat="option in options" id="option{{option.optionId}}" ng-if="($index > 2 || type !== 'joint-revenue') && $index > 6">
                <div class="option-header header{{option.optionId}}" ng-click="optionClicked(option.optionId)">
                    <i class="fa fa-eye option-eye{{option.optionId}}" aria-hidden="true" ng-if="option.optionId === currentLevel"></i>
                    <span id="option-text3">{{option.label}}</span>
                    <span class="glyphicon glyphicon-menu-right option-arrow" ng-class="{'arrow-down': option.open}" aria-hidden="true"></span>
                </div>

                <div class="option-choices clickable choices{{option.optionId}}" ng-click="choiceClicked(option.optionId, choice.choiceId)" ng-repeat="choice in option.choices" ng-class="{'option-hidden': !option.open, 'locked-choice': choice.chosen}">
                    <span ng-class="{'option-selected': choice.chosen}">{{choice.content}}</span>
                        <!-- PLUS SIGN -->
                    <div class="plus-icon">
                        <div class="one" ng-class="{'minus-sign': choice.chosen}"></div>
                        <div class="two" ng-class="{'minus-sign': choice.chosen}"></div>
                    </div>
                </div>
            </div>

        </uib-tab>

        <!-- ALmennar/Algengar Fyrirspurnir-->
        <uib-tab index="1" heading="Almennar fyrirsp." id="faq">
            <div id="queries" class="btn-group-vertical">
                <ul>
                    <li><a ng-click="pathChange('expenses/' + selectedYear + '-0/3/n/n/n/n/n/n')" id="query">Hver er heildarkostnaður eftir bókhaldslyklum?</a> </li>
                    <li><a ng-click="pathChange('expenses/' + selectedYear + '-0/7/n/n/n/n/n/n')" id="query">Hver er heildarkostnaður eftir lánardrottnum?</a>  </li>
                    <li><a ng-click="pathChange('expenses/' + selectedYear + '-0/1/n/n/n/n/1000/n')" id="query">Hver er starfsmannakostnaður eftir málaflokkum?</a> </li>
                    <li><a ng-click="pathChange('expenses/' + selectedYear + '-0/3/n/n/n/n/1000/n')" id="query">Hver er starfsmannakostnaður eftir deildum?</a> </li>
                </ul>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<!-- /#sidebar-wrapper -->


<!-- Modal Instruction Helper -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <script type="text/ng-template" id="helpModalContent.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true" ng-click="cancel()">&times;</button>
                <h3 class="modal-title">Leiðbeiningar</h3>
            </div>

            <!-- modal-body -->
            <div class="modal-body">
                <p>Smelltu á „Leiðbeiningar“ ef þú vilt fara yfir hvernig vefsíðan virkar.</p>
                <p>Smelltu á „Senda ábendingu“ ef þú vilt koma einhverjum skilaboðum fram til Kópavogsbæjar.</p>
            </div>
            <!-- /#modal-body -->

            <div class="modal-footer">
                <button type="button" ng-click="toggleInstructions(); cancel()" class="btn btn-success" data-dismiss="modal">Leiðbeiningar</button>
                <a href="http://www.kopavogur.is/abendingar" target="_blank" ng-click="cancel()" class="btn btn-primary" role="button">Senda ábendingu</a>
            </div>
        </div>
    </script>
    </div>
</div>


<!-- page-content-wrapper -->
<div id="page-content-wrapper" class="container-fluid hfp-content" ng-controller="chartController">
    <!-- header -->
    <div class="row hfp-header">

        <!-- header-buttons -->
        <div class="col-xs-4 hfp-headerbuttons hfp-div">
            <span class="p2">
                <img src="koplogo.gif" alt="" id="kop-logo">
            </span>
            <span class="p10">
                <h1 id="sub-title">Kópavogsbær</h1>
                <button data-toggle="tooltip" title="Hliðarstika" class="btn btn-default hfp-btn glyphicon glyphicon-menu-hamburger hfp-primary-btn" ng-click="toggleDrawer()" id="menu-toggle"></button>
                <button data-toggle="tooltip" title="Tímabil" class="btn btn-default hfp-btn glyphicon glyphicon-time hfp-primary-btn" ng-click="toggleCalendar()" id="calendar-toggle"></button>
                <button data-toggle="tooltip" title="Töfluform" class="change-view-toggle btn btn-default hfp-btn glyphicon glyphicon-list-alt hfp-secondary-btn" ng-if="pieView" ng-click="changeView()"></button>
                <button data-toggle="tooltip" title="Kökuform" class="change-view-toggle btn btn-default hfp-btn glyphicon fa fa-pie-chart hfp-secondary-btn" ng-if="!pieView" ng-click="changeView()"></button>
                <button data-toggle="tooltip" title="Leiðbeiningar" class="btn btn-default hfp-btn glyphicon glyphicon-question-sign hfp-secondary-btn" ng-click="toggleHelp()" id="instructions-toggle" data-toggle="modal" data-target="#myModal"></button>
                <button data-toggle="tooltip" title="Loka leiðbeiningum" class="btn btn-default hfp-btn glyphicon glyphicon-remove hfp-secondary-btn hfp-hidden" ng-click="toggleInstructions()" id="instructions-close"></button>
            </span>


            <!-- calendar-dropdown -->
            <div id="hfp-calendar-dropdown" class="hfp-hidden container" ng-controller="calendarController">

                <div class="calendar-row row">
                    <div class="col-xs-12">
                        <span>Ár: </span>
                        <div class="btn-group" uib-dropdown>
                            <button id="year-dropdown" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                                {{selectedYear}} <span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem" ng-repeat="year in years">
                                    <a href="javascript:void(0)" ng-click="setYear(year)">{{year}} <span ng-if="year === '2016'">(jan - jún)</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="calendar-row row">
                    <div class="col-xs-12">
                        <span>Ársfjórðungur: </span>
                        <div class="btn-group" uib-dropdown>
                            <button id="quarter-dropdown" type="button" class="btn btn-default" uib-dropdown-toggle>
                                {{selectedQuarter}} <span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button 	">
                                <li role="menuitem" ng-repeat="quarter in quarters">
                                    <a href="javascript:void(0)" ng-click="setQuarter(quarter)">{{quarter}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="calendar-row row">
                    <div class="col-xs-12">
                        <span>Mánuður: </span>
                        <div class="btn-group" uib-dropdown>
                            <button id="month-dropdown" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                                {{selectedMonth}} <span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem" ng-repeat="month in months">
                                    <a href="javascript:void(0)" ng-click="setMonth($index)">{{month}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /#calendar-dropdown -->
        </div>
        <!-- /#header-buttons -->

        <!-- title -->
        <div class="col-xs-4 hfp-div hfp-title">
            <div ng-click="resetApp()">
                <a data-toggle="tooltip" title="Heim" class="header-link" href="javascript: void(0)">
                    <h2 id="main-title">Hvert fara peningarnir?</h2>
                </a>
            </div>
        </div>
        <!-- /#title -->

        <!-- progress-meter -->
        <div class="col-xs-4 hfp-div hfp-meter" id="hfp-progress">
            <uib-progressbar data-toggle="tooltip" title="Hlutfall af heildarsummu bæjarins" id="hfp-progress-bar" max="max" value="dynamic"><span id="hfp-percentage" style="vertical-align: middle; white; white-space:nowrap;">{{dynamic}}%</span></uib-progressbar>
            <p data-toggle="tooltip" title="Heildarsumma köku" ng-if="type === 'expenses'" class="hfp-curr-amount">kr. {{totalCredit}}.-
               <i class="glyphicon glyphicon-info-sign" ng-click="toggleInfo()" title="Smelltu til að sjá nánari útskýringu." ></i>
            </p>
            <p data-toggle="tooltip" title="Heildarsumma köku" ng-if="type === 'joint-revenue' || type === 'special-revenue'" class="hfp-curr-amount">kr. {{totalDebit}}.-</p>
        </div>
        <!-- /#progress-meter -->

    </div>
    <!-- /#header -->

    <!-- chart-area -->
    <div id="chartContainer" class="row hfp-chart">
        <div id="hfpPie" class="col-xs-12 hfp-div">
            <div id="mypie" ng-show="dataReady"></div>
        </div>
    </div>
    <!-- /#chart-area -->

    <!-- mini-chart-area -->
    <div id="miniChartContainer" class="row hfp-minichart"></div>
    <!-- /#mini-chart-area -->

    <!-- table-area -->
    <div class="container">
        <div id="table" class="table-editable hfp-hidden">
            <table class="table">
                <tr class="head">
                    <th ng-click="orderBy('key')" class="col1 orderable"">Kóti <span ng-if="toOrderBy === 'key'" ng-class="{'glyphicon-arrow-up' : orderReverse, 'glyphicon-arrow-down' : !orderReverse}" class="glyphicon"></span></th>
                    <th ng-click="orderBy('label')" class="col2 orderable">Heiti <span ng-if="toOrderBy === 'label'" ng-class="{'glyphicon-arrow-up' : orderReverse, 'glyphicon-arrow-down' : !orderReverse}" class="glyphicon"></span></th>
                    <th ng-click="orderBy('')" class="col3 orderable"><span ng-if="toOrderBy === ''" ng-class="{'glyphicon-arrow-up' : orderReverse, 'glyphicon-arrow-down' : !orderReverse}" class="glyphicon"></span> Upphæð</th>
                    <th class="col4">Hlutfall</th>
                </tr>
                <tr ng-repeat="s in slices | orderBy:toOrderBy:orderReverse">
                    <td class="col1">{{s.key}}</td>
                    <td class="col2">{{s.label}}</td>
                    <td class="col3">{{s.value}} kr.</td>
                    <td class="col4">{{s.percentage}}%</td>
                </tr>
                <tr class="head">
                    <th class="col1" ng-class="{'hfp-hidden':level===7}"></th>
                    <th class="col2">Samtals</th>
                    <th class="col3">{{divider + ' kr.'}}</th>
                    <th class="col4">100%</th>
                </tr>
                <tr class="head">
                    <th class="col1" ng-class="{'hfp-hidden':level===7}"></th>
                    <th class="col2">{{extraDimLabel}}</th>
                    <th class="col3">{{extraDim + ' kr.'}}</th>
                    <th class="col4">{{extraDimPerc + '%'}}</th>
                </tr>
                <tr class="head">
                    <th class="col1" ng-class="{'hfp-hidden':level===7}"></th>
                    <th class="col2">Nettó</th>
                    <th class="col3">{{netto + ' kr.'}}</th>
                    <th class="col4">{{nettoPerc + '%'}}</th>
                </tr>
            </table>
        </div>
    </div>
    <!-- /#table-area -->

    <div class="info-text-background" ng-click="toggleInfo()" ng-if="infoShow">
        <div class="info-text">
            <p><b>Gjöld: </b>Til einföldunar og til að auka notagildi vefsins þá eru hér sameinuð í eina tölu rekstrargjöld, innri viðskipti og eignfærslur og hér nefnd gjöld. Þetta er gert til að hægt sé að sýna betur umsvif einstakra rekstrareininga.  Þetta þýðir að summa tekna og gjalda sem hér sést getur verið hærri en kemur fram í samstæðureikningi Kópavogsbæjar.</p>
            <p><b>Innri viðskipti: </b>Útgjöld sem mynda jafnháar tekjur annarsstaðar í reikningsskilum Kópavogs og er ætlað heimfæra útgjöld sem rekstur einstakra eininga veldur, á réttan stað. Sem dæmi um svona kostnað má nefna innri leigu, en hún er gjaldfærð á viðkomandi stofnun en samsvarandi tekjufærsla myndast hjá eignasjóði. Aðrir svona liðir eru t.d. rekstur upplýsingatæknideildar, þjónusta við eignasjóð, þjónusta við Vatnsveitu og Fráveitu, bæjarvinna, sumarvinna, vélavinna, rekstur fasteigna sem dreifist á fleiri en eina deild, útdeiling kostnaðar vegna íþróttahúsa o.fl.</p>
            <p><b>Sérstök athugasemd vegna 2016: </b>Athugið að vefurinn sýnir færslur í bókhaldi eins og þær eru bókaðar á fyrirspurnartíma. Þar er ekki að finna reikningshaldslegar færslur (reclass og adjust) vegna uppgjöra sem unnar eru utan bókhaldskerfisins vegna viðkomandi uppgjörs. Í lok árs eru uppgjörsfærslur keyrðar inn og þá er líklegt að flokkun gjalda hér, geti tekið breytingum á milli einstaka deilda og fjárhagslykla hjá Kópavogsbæ.</p>
            <p>Gerður er fyrirvari um mögulegar villur.</p>
        </div>
    </div>

</div>
<!-- /#page-content-wrapper -->